@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.logo {
  text-decoration: none;
  font-weight: 700;
  color: cornflowerblue;
  text-transform: uppercase;
  font-size: 1.8em;
}
.navigation a {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  color: purple;
}
section {
  padding: 100px 200px;
}

.main {
  padding: 100px 200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9;
  font-size: 3em;
  font-weight: 600;
}
.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  text-decoration: none;
  color: #fff;
  background-color: cornflowerblue;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: royalblue;
  transform: scale(1.1);
}
.social-icons a {
  color: #ffffff;
  font-size: 1.7em;
  padding-right: 30px;
}
.cards {
  background-color: #646466;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
  padding: 25px;
  margin: 15px;
  border-radius: 10px;
  transition: 0.7s ease;
}
.card:hover {
  transform: scale(1.1);
}
.icon {
  color: cornflowerblue;
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: rgb(0, 0, 0);
  font-size: 1.2;
  font-weight: 700;
  margin: 10px;
}
.projects {
  background-color: #969697;
}
.projects .content {
  margin-top: 30px;
}

.projects-card {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  margin: 20px;
  transition: 0.7s ease;
}
.projects-card:hover {
  transform: scale(1.1);
}
.projects-card:hover .projects-image {
  opacity: 0.9;
}
.projects-image img {
  width: 100%;
}
.projects-info {
  padding: 1em;
}
.projects-category {
  font-size: 0.8em;
  color: #000000;
}

.projects-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
.more-details {
  text-decoration: none;
  color: rgb(13, 11, 46);
}
.more-details:hover {
  color: rgb(184, 69, 94);
}

.contact .icon {
  font-size: 4.5em;
}
.contact .info h3 {
  color: #000;
}
.contact .info p {
  font-size: 1.5em;
}

.footer {
  background-color: #000016;
  color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}
.footer-title span {
  color: aqua;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

/* Responsive */
@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }

  .navigation a {
    padding-left: 10px;
  }

  .title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
